PORT= YOUR PORT HERE

MONGO_URI= YOUR MONGODB URI HERE

STRIPE_SECRET_KEY=  YOUR STRIPE SECRET KEY HERE

STRIPE_WEBHOOK_SECRET= YOUR STRIPE WEBHOOK SECRET HERE

EMAIL_USER = YOUR EMAIL USER HERE

EMAIL_PASS = YOUR EMAIL PASSWORD HERE

